################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EvolvedTax/bin/Debug/net7.0
/.vs/EvolvedTax/FileContentIndex
/.cr/personal/FavoritesList
/EvolvedTax/obj
/EvolvedTax.Business/bin/Debug/net7.0
/EvolvedTax.Business/obj
/EvolvedTax.Common/bin/Debug/net7.0
/EvolvedTax.Common/obj
/EvolvedTax.Data/bin/Debug/net7.0
/EvolvedTax.Data/obj
/.vs
/EvolvedTax/appsettings.json
/.vs/EvolvedTax/DesignTimeBuild/.dtbcache.v2
/EvolvedTax/appsettings.json
*.pdf
/.vs/EvolvedTax/v17/.suo
/.vs/EvolvedTax/v17/.suo
/.vs/ProjectEvaluation/evolvedtax.metadata.v7.bin
/.vs/ProjectEvaluation/evolvedtax.projects.v7.bin
/.vs/EvolvedTax/v17/fileList.bin
/.vs/EvolvedTax/v17/.futdcache.v2
/.vs/EvolvedTax/DesignTimeBuild/.dtbcache.v2
