@model FormRequest
@if (!string.IsNullOrEmpty(ViewData["LogErrorMessage"] as string))
{
    <script>
         var errorMessage = '@ViewData["LogErrorMessage"]';
        console.log(errorMessage);
    </script>
}

<div class="tab">
    <div class="text-center"><span><p>Identification of Entity</p></span></div>
    <div class="form-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name of organization that is acting as intermediary<span class="text-danger">*</span></label>
                    <input id="firstName" asp-for="GQOrgName" type="text" class="form-control" required>
                </div>
            </div>


            <div id="W8Country" class="col-md-6">
                <div class="form-group">
                    <label>Country of incorporation or organization<span class="text-danger">*</span></label>
                    <select id="CountryW8" asp-for="CountryOfIncorporation" asp-items="ViewBag.CountriesList" required>
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label id="lbl_TypeofTaxNumber">
                        <div class="form-check abc-radio abc-radio-info form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio5" value="QI-EIN" onclick="ChangeMasking(this)" asp-for="US_TIN_CB">
                            <label class="form-check-label" for="inlineRadio5">QI-EIN</label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio6" value="WP-EIN" onclick="ChangeMasking(this)" asp-for="US_TIN_CB">
                            <label class="form-check-label" for="inlineRadio6">WP-EIN</label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio7" value="WT-EIN" onclick="ChangeMasking(this)" asp-for="US_TIN_CB">
                            <label class="form-check-label" for="inlineRadio7">WT-EIN</label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio7" value="EIN" onclick="ChangeMasking(this)" asp-for="US_TIN_CB">
                            <label class="form-check-label" for="inlineRadio7">EIN</label>
                        </div>

                    </label>
                    <input id="IdNumber" asp-for="US_TIN" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>GIIN (if applicable) </label>
                    <input id="GIN" asp-for="GIN" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <label>Is a foreign Tax Identification Number (FTIN) legally required for you?</label>
                <div class="form-group">
                    <div class="form-check abc-radio abc-radio-info form-check-inline">
                        <input class="form-check-input" type="radio" id="LegallyReq1" value="true" onclick="ShowHideFTIN(this)"
                               asp-for="LegallyRequired" />
                        <label class="form-check-label" for="LegallyReq1"> Yes </label>
                    </div>
                    <div class="form-check abc-radio form-check-inline">
                        <input class="form-check-input" type="radio" id="LegallyReq2" value="false" onclick="ShowHideFTIN(this)"
                               asp-for="LegallyRequired" />
                        <label class="form-check-label" for="LegallyReq2"> No </label>
                    </div>
                </div>
                @Html.HiddenFor(model => model.LegallyRequired, new { id = "LegallyRequired" })
            </div>
            <div class="col-md-6">
                <div id="FTINDiv" class="form-group" hidden>
                    <label>Foreign taxpayer identification number, if required</label>
                    <input id="FTIN" type="text" asp-for=ForeignTaxIdentifyingNumber class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Reference Number</label>
                    <input type="text" asp-for=Referencenumber title="Reference number refers to the name and account number of the disregarded entity to which a payment is made or credited. However, if the account receiving payment is not under the name of the disregarded entity this question is not applicable." class="form-control">
                </div>
            </div>

        </div>
    </div>


</div>

<div class="tab">
    <div class="text-center"><span><p>Mailing Address</p></span></div>
    <div class="form-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select id="country" asp-for="MCountry" asp-items="ViewBag.CountriesList" onChange="ShowHideProvince(this)" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1 <span class="text-danger">*</span></label> <b>(Do not use a P.O. box or in-care-of address)</b>
                    <input id="adreess1" asp-for="MAddress1" type="text" class="form-control" required>
                    <span asp-validation-for="MAddress1" class="text-danger"></span>
           
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input id="adreess2" asp-for="MAddress2" type="text" class="form-control">
                    <span asp-validation-for="MAddress2" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>City <span class="text-danger">*</span></label>
                    <input id="city" asp-for="MCity" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div id="stateDiv" class="form-group" hidden>
                    <label>State </label>
                    <select id="state" asp-items="ViewBag.StatesList" asp-for="MState" class="select2">
                        <option></option>
                    </select>
                </div>
                <div id="provinceDivImy" class="form-group">
                    <label>Province</label>
                    <input id="province" asp-for="MProvince" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label id="lblZipCode">Zip/Postal Code <span class="text-danger"> *</span></label>
                    <input id="zipCode" asp-for="MZipCode" type="text" class="form-control" required>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-3 mb-3 ml-3">
        <input id="SamePermAddress" type="checkbox" checked onChange="HideAddress(this)" name="SamePermAddress" class=""> Permanent address is the same as the mailing address
    </div>
    <div id="SamePermAddressDiv" class="form-box" hidden>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select id="countryPerm" asp-for="PCountry" asp-items="ViewBag.CountriesList" onChange="ShowHideProvincePerm(this)" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1 <span class="text-danger">*</span></label> <b>(Do not use a P.O. box or in-care-of address)</b>
                    <input id="adreess1Perm" asp-for="PAddress1" type="text" class="form-control" required>
                    <span asp-validation-for="PAddress1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input id="adreess2Perm" asp-for="PAddress2" type="text" class="form-control">
                    <span asp-validation-for="PAddress2" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>City <span class="text-danger">*</span></label>
                    <input id="cityPerm" asp-for="PCity" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div id="statePermDiv" class="form-group" hidden>
                    <label>State </label>
                    <select id="statePerm" asp-items="ViewBag.StatesList" asp-for="PState" class="select2">
                        <option></option>
                    </select>
                </div>
                <div id="provincePermDiv" class="form-group">
                    <label>Province</label>
                    <input id="provincePerm" name="provincePerm" type="text" asp-for="PProvince" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label id="lblZipCodePerm">Zip/Postal Code <span class="text-danger"> *</span></label>
                    <input id="zipCodePerm" asp-for="PZipCode" type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tab">
    <div class="text-center"><span><p>Disregarded Entity or Branch Receiving Payment</p></span></div>
    <div class="form-box">
        <div class="row">


            <div class="col-md-6">
                <label>Are you a disregarded entity or branch recieving payment ?</label>
                <div class="form-group">
                    <div class="form-check abc-radio abc-radio-info form-check-inline">
                        <input class="form-check-input" type="radio" id="DE1" value="true"
                               asp-for="DE" onchange="SelectDEEntity(this)">
                        <label class="form-check-label" for="DE1"> Yes </label>
                    </div>
                    <div class="form-check abc-radio form-check-inline">
                        <input class="form-check-input" type="radio" id="DE2" value="false"
                               asp-for="DE" onchange="SelectDEEntity(this)">
                        <label class="form-check-label" for="DE2"> No </label>
                    </div>
                    @Html.HiddenFor(model => model.DE, new { id = "DEValue" })
                </div>
            </div>
            <div class="col-md-6" id="div_DE1">
                <div class="form-group" id="DeEntityOwnerNameDiv" hidden>
                    <label>Name of the disregarded entity or branch </label>
                    <input id="DEOwnerName" asp-for="DEOwnerName" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6" id="div_DE2">
                <div class="form-group">
                    <label>Chapter 4 Status(FATCA)<span class="text-danger">*</span></label>
                    <select id="_11FATCA_CB" asp-for="W8EXPFatca" asp-items="ViewBag.FATCAListForCH4" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6" id="div_DE3">
                <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select id="_12_Country" asp-for="_12_Country" asp-items="ViewBag.CountriesList" onChange="ShowHideProvinceDE(this)" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6" id="div_DE4">
                <div class="form-group">
                    <label>Address of disregarded entity or branch <span class="text-danger">*</span></label>
                    <input id="_12Mailing_address" asp-for="_12Mailing_address" type="text" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6" id="div_DE5">
                <div class="form-group">
                    <label>City <span class="text-danger">*</span></label>
                    <input id="_12_City" asp-for="_12_City" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6" id="div_DE6">
                <div id="stateDivDE" class="form-group" hidden>
                    <label>State </label>
                    <select id="_12_State" asp-items="ViewBag.StatesList" asp-for="_12_State" class="select2">
                        <option></option>
                    </select>
                </div>
                <div id="provinceDivDE" class="form-group">
                    <label>Province</label>
                    <input id="_12_Province" asp-for="_12_Province" type="text" class="form-control">
                </div>
            </div>


            <div class="col-md-6" id="div_DE7">
                <div class="form-group">
                    <label>GIIN (if any) </label>
                    <input id="_13GIN" asp-for="_13GIN" type="text" class="form-control">
                </div>
            </div>

        </div>
    </div>


</div>
<div class="tab">
    <div class="text-center"><span><p>Additional Information</p></span></div>
    <div class="form-box">
        <div class="row">
            <div id="Entities" class="col-md-6">
                <div class="form-group">
                    <label>Type of Entity<span class="text-danger">*</span></label>
                    <select id="EntityTypeW8" asp-for="EntityType" asp-items="ViewBag.EntitiesList" required>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="W8FatcaDiv" class="col-md-6">
                <div class="form-group">
                    <label>Chapter 4 Status(FATCA)<span class="text-danger">*</span></label>
                    <select id="FatcaStatus" asp-for="FatcaStatus" asp-items="ViewBag.FATCAList" required>
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="AuthSignatoryNameDiv" class="col-md-6" hidden>
                <div class="form-group">
                    <label>Please enter the name of the authorized signatory<span class="text-danger"> *</span></label>
                    <input asp-for="AuthSignatoryName" class="form-control" required />
                </div>
            </div>


        </div>
    </div>


    <div id="EntityDivHeading" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row align-items-center">
                    <h4 id="EntityHead" style="margin-bottom: 0;"></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="form-box" id="Q1Div" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <h4>All Qualified Intermediaries</h4>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_14_CB">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (14)   I certify that the entity identified in Part I (or branch, if relevant):
                        <br />
                        Is a QI with respect to the accounts identified on line 10 or in a withholding statement associated with this form (as required) that is one
                        or more of the following:
                        <br />
                        (i) Not acting for its own account;
                        <br />
                        (ii) A QDD receiving payments on underlying securities and/or potential section 871(m) transactions;
                        <br />
                        (iii) A QI assuming primary withholding responsibility for payments of substitute interest, as permitted by the QI Agreement.
                        <br />
                        Has provided or will provide a withholding statement (as required) for purposes of chapters 3 and 4, and section 1446(a), or section
                        1446(f), subject to the certifications made on this form.
                        <br />
                        To the extent it acts as a disclosing QI for purposes of section 1446(a) or (f) for payments associated with this form, the QI is to provide
                        the required payee documentation to associate with an amount realized or an amount subject to withholding on a PTP distribution.
                    </label>
                </div>




                <h4>Qualified Intermediaries When Not Acting As Qualified Derivatives Dealers (check all that apply)</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15a">
                    <label class="form-check-label" for="inlinecheckbox3">
                        15(a) I certify that the entity identified in Part I of this form assumes primary withholding responsibility for purposes of chapters 3 and 4 for each account identified on a withholding statement attached to this form (or, if no withholding statement is attached to this form, for all accounts
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I of this form assumes primary withholding and reporting responsibility for each payment of an amount realized from the sale of an interest in a publicly traded partnership under section 1446(f) associated with each account identified on a withholding statement attached to this form for receiving such amounts (or, if no withholding statement is attached to this form, for all accounts).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I of this form assumes primary withholding as a nominee under Regulations section 1.1446-4(b)(3) for each distribution by a publicly traded partnership associated with each account identified on a withholding statement attached to this form for receiving such distributions (or, if no withholding statement is attached to this form, for all accounts).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I of this form is a QI acting as a qualified securities lender assuming primary withholding and reporting responsibilities with respect to payments that are U.S. source substitute dividends received from the withholding agent associated with each account identified on a withholding statement attached to this form (or, if no withholding statement is attached to this form, for all accounts).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) certify that the entity identified in Part I of this form assumes primary withholding responsibility for purposes of chapters 3 and 4 and primary Form 1099 reporting and backup withholding responsibility for all payments of U.S. source interest and substitute interest associated with this form, as permitted by the QI Agreement.
                    </label>
                </div>


                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15f">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (f) I certify that the entity identified in Part I of this form assumes primary Form 1099 reporting and backup withholding responsibility or reporting responsibility as a participating FFI or registered deemed-compliant FFI with respect to accounts that it maintains that are held by specified U.S. persons as permitted under Regulations sections 1.6049-4(c)(4)(i) or (c)(4)(ii) in lieu of Form 1099 reporting for each account identified on a withholding statement attached to this form (or, if no withholding statement is attached to this form, for all accounts).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15g">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (g) I certify that the entity identified in Part I of this form does not assume primary Form 1099 reporting and backup withholding responsibility for each account identified on a withholding statement attached to this form (or, if no withholding statement is attached to this form, for all accounts).
                    </label>
                </div>


                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15h">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (h) (Complete only to the extent the entity identified in Part I of this form does not assume primary Form 1099 reporting and backup withholding responsibility.) If the entity identified in Part I of this form has allocated or will allocate a portion of a payment to a chapter 4 withholding rate pool of U.S. payees on a withholding statement associated with this form, I certify that the entity meets the requirements of Regulations section 1.6049-4(c)(4)(iii) with respect to any account holder of an account it maintains that is included in such a withholding rate pool.
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_15i">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (i) (Complete only to the extent the entity identified in Part I of this form does not assume primary Form 1099 reporting and backup withholding responsibility.) If the entity identified in Part I of this form has allocated or will allocate a portion of a payment to a chapter 4 withholding rate pool of U.S. payees on a withholding statement associated with this form, to the extent the U.S. payees are account holders of an intermediary or flow-through entity receiving a payment from the entity, I certify that the entity has obtained, or will obtain, documentation sufficient to establish each such intermediary or flow-through entity status as a participating FFI, registered deemed-compliant FFI, or FFI that is a QI.
                    </label>
                </div>
                <h4>Qualified Derivatives Dealers</h4>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_16a">
                    <label class="form-check-label" for="inlinecheckbox3">
                        16(a) I certify that each QDD identified in Part I of this form or on a withholding statement associated with this form meets the requirements to act as a QDD (including approval by the IRS to so act) and assumes primary withholding and reporting responsibilities under chapters 3, 4, and 61 and section 3406 with respect to any payments it makes with respect to potential section 871(m) transactions
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="entityType">
                        16(b) Entity classification of QDD:
                    </label>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" id="cbCorporation" value="Corporation" asp-for="_16b">
                        <label class="form-check-label" for="cbCorporation">
                            Corporation
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" id="cbPartnership" value="Partnership" asp-for="_16b">
                        <label class="form-check-label" for="cbPartnership">
                            Partnership
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" id="cbDisregardedEntity" value="DisregardedEntity" asp-for="_16b">
                        <label class="form-check-label" for="cbDisregardedEntity">
                            Disregarded Entity
                        </label>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <div class="form-box" id="NonqualifiedDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_17a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        17(a)   (All nonqualified intermediaries and QIs that are not acting in their capacity as such check here.) I certify that the entity identified in Part I of this form is not acting as a QI with respect to each account(s) for which this form is provided and is not acting for its own account
                    </label>
                </div>




                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_17b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I of this form is using this form to transmit withholding certificates and/or other documentation and has provided, or will provide, a withholding statement, as required. Note: If this form is provided for purposes of the entity’s interest in a publicly traded partnership, see the instructions for Part IV before checking this box.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_17c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I of this form meets the requirements of Regulations section 1.6049-4(c)(4)(iii) with respect to any account holder of an account it maintains that is included in a withholding rate pool of U.S. payees provided on a withholding statement associated with this form (excluding a distribution from a publicly traded partnership).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_17d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I of this form is acting as a qualified securities lender (other than a QI) assuming primary withholding and reporting responsibilities with respect to payments associated with this form that are U.S. source substitute dividends received from the withholding agent.
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_17e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) To the extent that the entity identified in Part I of this form is providing an alternative withholding statement described in Regulations section 1.1441-1(e)(3)(iv)(C)(3) for any payments associated with the form, the entity represents that the information on all of the withholding statements associated with this withholding certificate have been (or will be) verified for inconsistency with any other account information the entity has for the beneficial owners for determining the rate of withholding with respect to each payee (applying the standards of knowledge under section 1441 or section 1471, as applicable).
                    </label>
                </div>



            </div>
        </div>
    </div>
    <div class="form-box" id="TerritoryDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_18a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        18(a) I certify that the entity identified in Part I is a financial institution (other than an investment entity that is not also a depository institution, custodial institution, or specified insurance company) that is incorporated or organized under the laws of a territory of the United States
                    </label>
                </div>


                <h4>Check the box on line 18b or 18c, whichever applies.</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_18b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I further certify that the entity identified in Part I is using this form as evidence of its agreement with the withholding agent to be treated as a U.S. person for purposes of chapters 3 and 4 with respect to any reportable amounts and withholdable payments associated with this withholding certificate.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_18c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I further certify that the entity identified in Part I:
                        • Is using this form to transmit withholding certificates and/or other documentation for the persons for whom it receives a payment of a reportable amount or a withholdable payment;<b>and</b>
                        • Has provided or will provide a withholding statement, as required.
                    </label>
                </div>
                <h4>Check the boxes on lines 18d, and 18e or 18f, as applicable.</h4>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_18d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I agrees to be treated as a U.S. person under Regulations section 1.1446(f)-4(a)(2)(i)(B) with respect to amounts realized on sales of interests in publicly traded partnerships.
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_18e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) I certify that the entity identified in Part I agrees to be treated as a U.S. person (as described in Regulations section 1.1441-1(b)(2)(iv)(A)) and as a nominee under Regulations section 1.1446-4(b)(3) with respect to distributions by publicly traded partnerships, <b>or</b>
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_18f">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (f) Is not acting as a nominee for distributions from publicly traded partnerships and is providing withholding statements for the distributions. <b></b>Note: If this form is provided for an amount realized, see the instructions for Part V before providing a withholding statement for an amount realized when the entity does not check the box on line 18d.
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-box" id="USBranchDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_19a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        19(a) I certify that the entity identified in Part I is a U.S. branch receiving reportable amounts or withholdable payments that are not income effectively connected with the conduct of a trade or business in the United States, distributions from publicly traded partnerships, or amounts realized on sales of interests in publicly traded partnerships.
                    </label>
                </div>


                <h4>Check the box on line 19b or 19c, whichever applies.</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_19b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I is a U.S. branch of a foreign bank or insurance company described in Regulations section 1.1441-1(b)(2)(iv)(A) that is using this form as evidence of its agreement with the withholding agent to be treated as a U.S. person with respect to any reportable amounts or withholdable payments associated with this withholding certificate.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_19c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I:
                        • Is using this form to transmit withholding certificates and/or other documentation for the persons for whom the branch receives a payment of a reportable amount;
                        • Has provided or will provide a withholding statement, as required; and
                        • In the case of a withholdable payment, is applying the rules described in Regulations section 1.1471-4(d)(2)(iii)(C).
                    </label>
                </div>
                <h4>Check the boxes on lines 19d, and 19e or 19f, as applicable.</h4>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_19d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I is a U.S. branch (as described in Regulations section 1.1446(f)-4(a)(2)(i)(B)) that is acting as a U.S. person with respect to amounts realized on the sales of interests in publicly traded partnerships,
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_19e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) I certify that the entity identified in Part I is a U.S. branch (as described in Regulations section 1.1441-1(b)(2)(iv)(A)) that is treated as a U.S. person and as a nominee with respect to distributions by publicly traded partnerships under Regulations section 1.1446-4(b)(3), <b>or</b>
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_19f">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (f) Is not acting as a nominee for distributions from publicly traded partnerships and is providing withholding statements for the distributions. <b>Note:</b> If this form is provided for an amount realized, see the instructions for Part VI before providing a withholding statement for an amount realized when the U.S. branch does not check the box on line 19d.
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-box" id="WithholdingforeignpartnershipDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_20">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (20) I certify that the entity identified in Part I is a withholding foreign partnership or a withholding foreign trust that is compliant with the terms of its WP or WT agreement.
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="NonwithholdingDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <h4>Check all that apply.</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_21a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        21(a) I certify that the entity identified in Part I:
                        • Is a nonwithholding foreign partnership, a nonwithholding foreign simple trust, or a nonwithholding foreign grantor trust and is providing this form for payments that are not effectively connected, or are not treated as effectively connected, with the conduct of a trade or business in the United States;<b> and</b>
                        • Is using this form to transmit withholding certificates and/or other documentation and has provided or will provide a withholding statement, as required for purposes of chapters 3 and 4, that is subject to the certifications made on this form.
                    </label>
                </div>



                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_21b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I is a foreign partnership or foreign grantor trust that is a partner in a lower-tier partnership and is providing this Form W-8IMY for purposes of section 1446(a).
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_21c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I is a foreign partnership receiving an amount realized on the transfer of an interest in a partnership for purposes of section 1446(f).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_21d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I is a foreign partnership providing a withholding statement for a modified amount realized from the transfer (check, when applicable, only if box 21c is checked).
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_21e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) I certify that the entity identified in Part I is a foreign grantor trust providing the form on behalf of each grantor or other owner of the trust under Regulations section 1.1446(f)-1(c)(2)(vii) that is transmitting withholding certificates and providing a withholding statement to allocate the amount realized to each grantor or other owner.
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_21f">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (f) To the extent the entity identified in Part I of this form is providing an alternative withholding statement described in Regulations section 1.1441-1(e)(3)(iv)(C)(3) for any payments associated with the form, the entity represents that the information on all of the withholding certificates associated with the withholding statement may be relied on based on the standards of knowledge under section 1441 or section 1471 applicable to the entity.
                    </label>
                </div>

            </div>
        </div>
    </div>


    <div id="FATCADivHeading">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <h4 id="FATCAHead" style="margin-bottom: 0; text-align: right;"></h4>
                </div>
            </div>
        </div>
    </div>


    <div class="form-box" id="NonparticipatingDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_22">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (22) I certify that the entity identified in Part I is using this form to transmit withholding certificates and/or other documentation and has provided or will provide a withholding statement that indicates the portion of the payment allocated to one or more exempt beneficial owners.
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="SponsoredFFIDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label class="form-text-label" for="23a_text">
                        23(a) Name of sponsoring entity:
                    </label>
                    <input class="form-control" type="text" id="23a_text" asp-for="_23a_text">
                </div>
                <h4>Check the box on line 23b or 23c, whichever applies.</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_23b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I:
                        • Is an investment entity;
                        • Is not a QI, WP (except to the extent permitted in the withholding foreign partnership agreement), or WT; <b>and</b>
                        • Has agreed with the entity identified above (that is not a nonparticipating FFI) to act as the sponsoring entity for this entity.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_23c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I:
                        • Is a controlled foreign corporation as defined in section 957(a);
                        • Is not a QI, WP, or WT;
                        • Is wholly owned, directly or indirectly, by the U.S. financial institution identified above that agrees to act as the sponsoring entity for this entity; <b>and</b>
                        • Shares a common electronic account system with the sponsoring entity (identified above) that enables the sponsoring entity to identify all account holders and payees of the entity and to access all account and customer information maintained by the entity including, but not limited to, customer identification information, customer documentation, account balance, and all payments made to account holders or payees.
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-box" id="OwnerdocumentedDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_24a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (24) I certify that the FFI identified in Part I: <br />
                        • Does not act as an intermediary; <br />
                        • Does not accept deposits in the ordinary course of a banking or similar business; <br />
                        • Does not hold, as a substantial portion of its business, financial assets for the account of others; <br />
                        • Is not an insurance company (or the holding company of an insurance company) that issues or is obligated to make payments with respect to a financial account; <br />
                        • Is not affiliated with an entity (other than an FFI that is also treated as an owner-documented FFI) that accepts deposits in the ordinary course of a banking or similar business, holds, as a substantial portion of its business, financial assets for the account of others, or is an insurance company (or the holding company of an insurance company) that issues or is obligated to make payments with respect to a financial account; and <br />
                        • Does not maintain a financial account for any nonparticipating FFI.
                    </label>
                </div>

                <h4>Check the box on line 24b or 24c, whichever applies.</h4>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_24b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the FFI identified in Part I:
                        • Has provided, or will provide, an FFI owner reporting statement (including any applicable owner documentation) that contains:
                        (i)
                        The name, address, TIN (if any), chapter 4 status, and type of documentation provided (if required) of every individual and specified U.S. person that owns a direct or indirect equity interest in the owner-documented FFI (looking through all entities other than specified U.S. persons);
                        (ii)
                        The name, address, TIN (if any), chapter 4 status, and type of documentation provided (if required) of every individual and specified U.S. person that owns a debt interest in the owner-documented FFI (including any indirect debt interest, which includes debt interests in any entity that directly or indirectly owns the payee or any direct or indirect equity interest in a debt holder of the payee) that constitutes a financial account in excess of $50,000 (disregarding all such debt interests owned by participating FFIs, registered deemed-compliant FFIs, certified deemed-compliant FFIs, excepted NFFEs, exempt beneficial owners, or U.S. persons other than specified U.S. persons); <b>and</b>
                        (iii)
                        Any additional information the withholding agent requests in order to fulfill its obligations with respect to the entity.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_24c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the FFI identified in Part I:
                        • Has provided, or will provide, an auditor’s letter, signed no more than 4 years prior to the date of payment, from an independent accounting firm or legal representative with a location in the United States stating that the firm or representative has reviewed the FFI’s documentation with respect to all of its owners and debt holders identified in Regulations section 1.1471-3(d)(6)(iv)(A)(2) and that the FFI meets all the requirements to be an owner-documented FFI. The FFI identified in Part I has also provided, or will provide, an FFI owner reporting statement and Form W-9, with applicable waivers, as described in Regulations section 1.1471-3(d)(6)(iv).
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="CertifiedDeemedCompliantNonregisteringDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_25">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (25) I certify that the FFI identified in Part I:<br />
                        • Operates and is licensed solely as a bank or credit union (or similar cooperative credit organization operated without profit) in its country of incorporation or organization;<br />
                        • Engages primarily in the business of receiving deposits from and making loans to, with respect to a bank, retail customers unrelated to such bank and, with respect to a credit union or similar cooperative credit organization, members, provided that no member has a greater than 5% interest in such credit union or cooperative credit organization;<br />
                        • Does not solicit account holders outside its country of organization;
                        • Has no fixed place of business outside such country (for this purpose, a fixed place of business does not include a location that is not advertised to the public and from which the FFI performs solely administrative support functions);<br />
                        • Has no more than $175 million in assets on its balance sheet and, if it is a member of an expanded affiliated group, the group has no more than $500 million in total assets on its consolidated or combined balance sheets; <b>and</b><br />
                        • Does not have any member of its expanded affiliated group that is an FFI, other than an FFI that is incorporated or organized in the same country as the FFI identified in Part I and that meets the requirements set forth in this Part XII.<br />
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-box" id="CertifiedDeemedCompliantLowDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_26">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (26) I certify that the FFI identified in Part I:<br />
                        • Is not engaged primarily in the business of investing, reinvesting, or trading in securities, partnership interests, commodities, notional principal contracts, insurance or annuity contracts, or any interest (including a futures or forward contract or option) in such security, partnership interest, commodity, notional principal contract, insurance contract, or annuity contract;<br />
                        • No financial account maintained by the FFI or any member of its expanded affiliated group, if any, has a balance or value in excess of $50,000 (as determined after applying applicable account aggregation rules); <b>and</b><br />
                        • Neither the FFI nor the FFI’s entire expanded affiliated group, if any, has more than $50 million in assets on its consolidated or combined balance sheet as of the end of its most recent accounting year.<br />
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-box" id="CertifiedDeemedCompliantSponseredDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label class="form-text-label" for="_27a_text">
                        27(a) Name of sponsoring entity:
                    </label>
                    <input class="form-control" type="text" id="_27a_text" asp-for="_27a_text">
                </div>


                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_27b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the FFI identified in Part I:
                        • Is an FFI solely because it is an investment entity described in Regulations section 1.1471-5(e)(4);
                        • Is not a QI, WP, or WT;
                        • Will have all of its due diligence, withholding, and reporting responsibilities (determined as if the FFI were a participating FFI) fulfilled by the sponsoring entity identified on line 27a; and
                        • 20 or fewer individuals own all of the debt and equity interests in the entity (disregarding debt interests owned by U.S. financial institutions, participating FFIs, registered deemed-compliant FFIs, and certified deemed-compliant FFIs and equity interests owned by an entity that owns 100% of the equity interests in the FFI identified in Part I and is itself a sponsored FFI).
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="form-box" id="CertifiedDeemedCompliantInvestmentdDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_28">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (28) I certify that the FFI identified in Part I:<br />
                        • Was in existence as of January 17, 2013;<br />
                        • Issued all classes of its debt or equity interests to investors on or before January 17, 2013, pursuant to a trust indenture or similar agreement; <b>and</b><br />
                        • Is certified deemed-compliant because it satisfies the requirements to be treated as a limited life debt investment entity (such as the restrictions with respect to its assets and other requirements under Regulations section 1.1471-5(f)(2)(iv)).
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="form-box" id="CertainInvestmentEntitiesdDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_29">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (29) I certify that the entity identified in Part I::<br />
                        • Is a financial institution solely because it is an investment entity described in Regulations section 1.1471-5(e)(4)(i)(A); <b>and</b><br />
                        • Does not maintain financial accounts.
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="form-box" id="RestrictedDistributorDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_30a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        30(a) (All restricted distributors check here.) I certify that the entity identified in Part I:<br />
                        • Operates as a distributor with respect to debt or equity interests of the restricted fund with respect to which this form is furnished;<br />
                        • Provides investment services to at least 30 customers unrelated to each other and less than half of its customers are related to each other;<br />
                        • Is required to perform AML due diligence procedures under the anti-money laundering laws of its country of organization (which is a FATF-compliant jurisdiction);<br />
                        • Operates solely in its country of incorporation or organization, has no fixed place of business outside of that country, and has the same country of incorporation or organization as all members of its affiliated group, if any;<br />
                        • Does not solicit customers outside its country of incorporation or organization;<br />
                        • Has no more than $175 million in total assets under management and no more than $7 million in gross revenue on its income statement for the most recent accounting year;<br />
                        • Is not a member of an expanded affiliated group that has more than $500 million in total assets under management or more than $20 million in gross revenue for its most recent accounting year on a combined or consolidated income statement; <b>and</b><br />
                        • Does not distribute any debt or securities of the restricted fund to specified U.S. persons, passive NFFEs with one or more substantial U.S. owners, or nonparticipating FFIs.
                    </label>
                </div>


                <h4>Check the box on line 30b or 30c, whichever applies.</h4>
                <label>I further certify that with respect to all sales of debt or equity interests in the restricted fund with respect to which this form is furnished that are made after December 31, 2011, the entity identified in Part I:</label>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_30b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) Has been bound by a distribution agreement that contained a general prohibition on the sale of debt or securities to U.S. entities and U.S. resident individuals and is currently bound by a distribution agreement that contains a prohibition of the sale of debt or securities to any specified U.S. person, passive NFFE with one or more substantial U.S. owners, or nonparticipating FFI.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_30c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) Is currently bound by a distribution agreement that contains a prohibition on the sale of debt or securities to any specified U.S. person, passive NFFE with one or more substantial U.S. owners, or nonparticipating FFI and, for all sales made prior to the time that such a restriction was included in its distribution agreement, has reviewed all accounts related to such sales in accordance with the procedures identified in Regulations section 1.1471-4(c) applicable to preexisting accounts and has redeemed or retired any securities which were sold to specified U.S. persons, passive NFFEs with one or more substantial U.S. owners, or nonparticipating FFIs, or will transfer the securities to a distributor that is a participating FFI, reporting Model 1 FFI, or reporting Model 2 FFI.
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="form-box" id="ForeigncentralbankDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_31">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (31) I certify that the entity identified in Part I is treated as the beneficial owner of the payment solely for purposes of chapter 4 under Regulations section 1.1471-6(d)(4).
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="NonreportingIGADiv" hidden>
        <div class="col-md-12">
            <div class="form-group">

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_32_CB1">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (32) I certify that the entity identified in Part I: <br />
                        • Meets the requirements to be considered a nonreporting financial institution pursuant to an applicable IGA between the United States and <br />
                        <input class="form-control" type="text" id="_32_Text1" asp-for="_32_Text1"> <br />
                        The applicable IGA is a
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="cbPartnership" value="Model 1 IGA" asp-for="_32_CB2">
                            <label class="form-check-label" for="_32_CB2">
                                Model 1 IGA or a
                            </label>
                        </div>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="cbDisregardedEntity" value="Model 2 IGA" asp-for="_32_CB2">
                            <label class="form-check-label" for="_32_CB2">
                                Model 2 IGA;
                            </label>
                        </div>
                        and is treated as a
                        <div class="form-check-inline">
                            <input class="form-control" type="text" id="_32_Text2" asp-for="_32_Text2"> <br />
                        </div>
                    </label>



                    under the provisions of the applicable IGA or Treasury regulations
                    (if applicable, see instructions); <b>and</b> <br />
                    • If you are a trustee documented trust or a sponsored entity, provide the name of the trustee or sponsor
                    <input class="form-control" type="text" id="23a_text" asp-for="_32_Text3"> <br />
                    The trustee is:
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" id="cbPartnership" value="U.S." asp-for="_32_CB3">
                        <label class="form-check-label" for="_32_CB3">
                            U.S.
                        </label>
                    </div>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" id="cbDisregardedEntity" value="Foreign" asp-for="_32_CB3">
                        <label class="form-check-label" for="_32_CB3">
                            Foreign
                        </label>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <div class="form-box" id="ExemptRetirementDiv" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <h4>Check the box on line 33a, b, c, d, e, or f, whichever applies.</h4>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_33a">
                    <label class="form-check-label" for="inlinecheckbox1">
                        33(a) I certify that the entity identified in Part I: <br />
                        • Is established in a country with which the United States has an income tax treaty in force; <br />
                        • Is operated principally to administer or provide pension or retirement benefits; <b>and</b> <br />
                        • Is entitled to treaty benefits on income that the fund derives from U.S. sources (or would be entitled to benefits if it derived any such income) as a resident of the other country which satisfies any applicable limitation on benefits requirement. <br />
                    </label>
                </div>



                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_33b">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (b) I certify that the entity identified in Part I: <br />
                        • Is organized for the provision of retirement, disability, or death benefits (or any combination thereof) to beneficiaries that are former employees of one or more employers in consideration for services rendered; <br />
                        • No single beneficiary has a right to more than 5% of the FFI’s assets; <br />
                        • Is subject to government regulation and provides annual information reporting about its beneficiaries to the relevant tax authorities in the country in which the fund is established or operated;<b>and</b><br />
                        (i)   Is generally exempt from tax on investment income under the laws of the country in which it is established or operates due to its status as a retirement or pension plan; <br />
                        (ii)  Receives at least 50% of its total contributions from sponsoring employers (disregarding transfers of assets from other plans described in this part, retirement and pension accounts described in an applicable Model 1 or Model 2 IGA, other retirement funds described in an applicable Model 1 or Model 2 IGA, or accounts described in Regulations section 1.1471-5(b)(2)(i)(A)); <br />
                        (iii) Either does not permit or penalizes distributions or withdrawals made before the occurrence of specified events related to retirement, disability, or death (except rollover distributions to accounts described in Regulations section 1.1471-5(b)(2)(i)(A) (referring to retirement and pension accounts), to retirement and pension accounts described in an applicable Model 1 or Model 2 IGA, or to other retirement funds described in this part or in an applicable Model 1 or Model 2 IGA); or <br />
                        (iv)  Limits contributions by employees to the fund by reference to earned income of the employee or may not exceed $50,000 annually. <br />
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_33c">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (c) I certify that the entity identified in Part I: <br />
                        • Is organized for the provision of retirement, disability, or death benefits (or any combination thereof) to beneficiaries that are former employees of one or more employers in consideration for services rendered; <br />
                        • Has fewer than 50 participants; <br />
                        • Is sponsored by one or more employers, each of which is not an investment entity or passive NFFE; <br />
                        • Employee and employer contributions to the fund (disregarding transfers of assets from other plans described in this part, retirement and pension accounts described in an applicable Model 1 or Model 2 IGA, or accounts described in Regulations section 1.1471-5(b)(2)(i)(A)) are limited by reference to earned income and compensation of the employee, respectively; <br />
                        • Participants that are not residents of the country in which the fund is established or operated are not entitled to more than 20% of the fund’s assets; and <br />
                        • Is subject to government regulation and provides annual information reporting about its beneficiaries to the relevant tax authorities in the country in which the fund is established or operates. <br />
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_33d">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (d) I certify that the entity identified in Part I is formed pursuant to a pension plan that would meet the requirements of section 401(a), other than the requirement that the plan be funded by a trust created or organized in the United States.
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_33e">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (e) I certify that the entity identified in Part I is established exclusively to earn income for the benefit of one or more retirement funds described in this part or in an applicable Model 1 or Model 2 IGA, accounts described in Regulations section 1.1471-5(b)(2)(i)(A) (referring to retirement and pension accounts), or retirement and pension accounts described in an applicable Model 1 or Model 2 IGA.
                    </label>
                </div>
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox3" asp-for="_33f">
                    <label class="form-check-label" for="inlinecheckbox3">
                        (f) I certify that the entity identified in Part I: <br />
                        • Is established and sponsored by a foreign government, international organization, central bank of issue, or government of a U.S. possession (each as defined in Regulations section 1.1471-6) or an exempt beneficial owner described in an applicable Model 1 or Model 2 IGA to provide retirement, disability, or death benefits to beneficiaries or participants that are current or former employees of the sponsor (or persons designated by such employees); <b>or</b>  <br />
                        • Is established and sponsored by a foreign government, international organization, central bank of issue, or government of a U.S. possession (each as defined in Regulations section 1.1471-6) or an exempt beneficial owner described in an applicable Model 1 or Model 2 IGA to provide retirement, disability, or death benefits to beneficiaries or participants that are not current or former employees of such sponsor, but are in consideration of personal services performed for the sponsor.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="ExceptedNonfinancialGroup" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_34">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (34) I certify that the entity identified in Part I: <br />
                            • Is a holding company, treasury center, or captive finance company and substantially all of the entity’s activities are functions described in Regulations section 1.1471-5(e)(5)(i)(C) through (E); <br />
                            • Is a member of a nonfinancial group described in Regulations section 1.1471-5(e)(5)(i)(B); <br />
                            • Is not a depository or custodial institution (other than for members of the entity’s expanded affiliated group); <b>and</b>  <br />
                            • Does not function (or hold itself out) as an investment fund, such as a private equity fund, venture capital fund, leveraged buyout fund, or any investment vehicle with an investment strategy to acquire or fund companies and then hold interests in those companies as capital assets for investment purposes.
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="ExceptedNonfinancialStart" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_35">
                        <label class="form-check-label" for="inlinecheckbox1">
                            I certify that the entity identified in Part I: <br />
                            • Was formed on (or in the case of a new line of business, the date of board resolution approving the new line of business) 
                            <input class="form-control" type="date" asp-for="_35_Text">
                            <br />
                            (date must be less than 24 months prior to date of payment);
                            <br />
                            • Is not yet operating a business and has no prior operating history or is investing capital in assets with the intent to operate a new line of
                            business other than that of a financial institution or passive NFFE; and
                            <br />
                            • Does not function (or hold itself out) as an investment fund, such as a private equity fund, venture capital fund, leveraged buyout fund, or
                            any investment vehicle whose purpose is to acquire or fund companies and then hold interests in those companies as capital assets for
                            investment purposes

                        </label>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-box" id="ExceptedNonfinancialBankruptcy" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_36">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (36) I certify that the entity identified in Part I: <br />
                            • Filed a plan of liquidation, filed a plan for reorganization, or filed for bankruptcy on the following date:
                            <input class="form-control" type="date" id="_36_Text" asp-for="_36_Text">
                            <br />
                            • Has not been engaged during the past 5 years in business as a financial institution or acted as a passive NFFE;<br />
                            • Is either liquidating or emerging from a reorganization or bankruptcy with the intent to continue or recommence operations as a nonfinancial entity; <b>and</b>  <br />
                            • Has provided, or will provide, documentary evidence such as a bankruptcy filing or other public documentation that supports its claim if it remains in bankruptcy or liquidation for more than 3 years.
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="PubliclyTradedNFFE" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_37a">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (37a) I certify that  <br />
                            • The entity identified in Part I is a foreign corporation that is not a financial institution; <b>and</b> <br />
                            • The stock of such corporation is regularly traded on one or more established securities markets, including
                            <div class="form-check-inline">
                                <input class="form-control" type="text" id="_37a_Text" asp-for="_37a_Text">
                            </div> <br />
                            • Has not been engaged during the past 5 years in business as a financial institution or acted as a passive NFFE;<br />
                            • Is either liquidating or emerging from a reorganization or bankruptcy with the intent to continue or recommence operations as a nonfinancial entity; <b>and</b>  <br />
                            • Has provided, or will provide, documentary evidence such as a bankruptcy filing or other public documentation that supports its claim if it remains in bankruptcy or liquidation for more than 3 years.
                        </label>
                    </div>
                    <div class="form-check inline">
                        <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_37a">
                        <label class="form-check-label" for="inlinecheckbox1">
                            (b) I certify that  <br />
                            • The entity identified in Part I is a foreign corporation that is not a financial institution; <br />
                            • The entity identified in Part I is a member of the same expanded affiliated group as an entity the stock of which is regularly traded on an established securities market; <br />
                            • The name of the entity, the stock of which is regularly traded on an established securities market, is    <div class="form-check-inline">
                                <input class="form-control" type="text" id="_37b_Text1" asp-for="_37b_Text1">
                            </div> <br />
                            • The name of the securities market on which the stock is regularly traded is
                            <div class="form-check-inline">
                                <input class="form-control" type="text" id="_37b_Text2" asp-for="_37b_Text2">
                            </div>
                            •
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-box" id="ExceptedTerritoryNFFE" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_38">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (38) I certify that: <br />
                        • The entity identified in Part I is an entity that is organized in a possession of the United States; <br />
                        • All of the owners of the entity identified in Part I are bona fide residents of the possession in which the NFFE is organized or incorporated;<b>and</b>  <br />
                        • The entity identified in Part I:  <br />
                        (i)   Does not accept deposits in the ordinary course of a banking or similar business;  <br />
                        (ii)  Does not hold, as a substantial portion of its business, financial assets for the account of others;<b>and</b>    <br />
                        (iii) Is not an insurance company (or the holding company of an insurance company) that issues or is obligated to make payments with respect to a financial account.
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div class="form-box" id="ActiveNFFE" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_39">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (39) I certify that: <br />
                        • The entity identified in Part I is a foreign entity that is not a financial institution; <br />
                        • Less than 50% of such entity’s gross income for the preceding calendar year is passive income;<b>and</b>  <br />
                        • Less than 50% of the assets held by such entity are assets that produce or are held for the production of passive income (calculated as a weighted average of the percentage of passive assets measured quarterly). See the instructions for the definition of passive income.

                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="PassiveNFFE" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_40">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (40) I certify that the entity identified in Part I: <br />

                        • Is a foreign entity that is not a financial institution (this category includes an entity organized in a possession of the United States that engages (or holds itself out as being engaged) primarily in the business of investing, reinvesting, or trading in securities, partnership interests, commodities, notional principal contracts, insurance or annuity contracts, or any interest in such security, partnership interest, commodity, notional principal contract, insurance contract, or annuity contract);<b>and</b>  <br />
                        • Is using this form to transmit withholding certificates and/or other documentation and has provided or will provide a withholding statement, as required.

                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box" id="SponsoredDirectNFFE" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="_32_Text1">
                        (41) Name of sponsoring entity
                    </label>
                    <input class="form-control" type="text" id="_32_Text1" asp-for="_41_Text">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check inline">


                    <input class="form-check-input" type="checkbox" id="inlinecheckbox1" asp-for="_42">
                    <label class="form-check-label" for="inlinecheckbox1">
                        (42) I certify that the entity identified in Part I is a direct reporting NFFE that is sponsored by the entity identified on line 41.
                    </label>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="tab">
   
 
    <div class="text-center"><span><p>Additional Information</p></span></div>
    <div class="form-box">
    <div class="row">

        <div class="col-md-12">
            <label>Are you signing this form on behalf of another person? If so, are you certified to do so?</label>
            <div class="form-group">
                <div class="form-check abc-radio abc-radio-info form-check-inline">
                    <input class="form-check-input" type="radio" id="W8ECIOnBehalfName1" value="1" onclick="W8ECIOnBehalfNameFunc(this)" asp-for="W8IMYOnBehalfName" required>
                    <label class="form-check-label" for="W8ECIOnBehalfName1"> Yes </label>
                </div>
                <div class="form-check abc-radio form-check-inline">
                    <input class="form-check-input" type="radio" id="W8ECIOnBehalfName2" value="0" onclick="W8ECIOnBehalfNameFunc(this)" asp-for="W8IMYOnBehalfName" required">
                    <label class="form-check-label" for="W8ECIOnBehalfName2"> No </label>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="authdiv" hidden>
            <div class="form-group">
                <label id="lbl_authSignatory">Please enter the name of the beneficial owner <span class="text-danger">*</span></label>
                <input asp-for="PrintNameOfSignerW8IMY" class="form-control" required />
            </div>
        </div>

    </div>

    </div>
</div>

<style>
    .form-check {
        margin-bottom: 10px; /* Adjust the margin as per your preference */
    }
</style>

