@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/evolved_tax_mark_logo.ico">
    <title>@ViewData["Title"] - Login to EvoTax Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
    </environment>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            background: rgb(28, 134, 255)
        }

        .container {
            width: 28em;
            background-color: #ffffff;
            padding: 4em 2em;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 0.8em;
            box-shadow: 0 45px 60px rgba(30, 22, 1, 0.3);
        }

        .inputfield {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .input {
            height: 3em;
            width: 2.8em;
            border: 1px solid #dad9df;
            outline: none;
            text-align: center;
            font-size: 1.3em;
            border-radius: 0.3em;
            background-color: #ffffff;
            outline: none;
            /*Hide number field arrows*/
            -moz-appearance: textfield;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #submit {
            background-color: #1ab394;
            border: none;
            outline: none;
            font-size: 1.2em;
            padding: 0.8em 2em;
            color: #ffffff;
            border-radius: 0.1em;
            margin: 1em auto 0 auto;
            cursor: pointer;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        .input:disabled {
            color: #89888b;
        }

        .input:focus {
            border: 1px solid #1ab394;
        }

    </style>

</head>
<body class="gray-bg">
    <div class="container text-center">
        <img src="~/images/evolved_tax_mark_logo.png" width="50" height="50" />
        <h3>Welcome to EvoTax Portal</h3>
        <p class="text-danger">@TempData["Message"]</p>
        <p>To verify your identity, please enter the OTP (One-Time Password) that was sent to your email inbox. Once you've entered the OTP, click 'Proceed' to continue.</p>
        <form id="form" class="m-t" role="form" method="post" asp-action="Auth" asp-controller="Account">
            <div class="inputfield">
                <input type="number" name="Otp1" maxlength="1" class="input" disabled />
                <input type="number" name="Otp2" maxlength="1" class="input" disabled />
                <input type="number" name="Otp3" maxlength="1" class="input" disabled />
                <input type="number" name="Otp4" maxlength="1" class="input" disabled />
                <input type="number" name="Otp5" maxlength="1" class="input" disabled />
                <input type="number" name="Otp6" maxlength="1" class="input" disabled />
            </div>
            <button type="submit" class="btn btn-primary full-width hide" id="submit">Proceed</button>
        </form>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
    </environment>
    <script>
        COMMON.notification('@TempData["Type"]', '@TempData["Message"]');

        const input = document.querySelectorAll(".input");
        const inputField = document.querySelector(".inputfield");
        const submitButton = document.getElementById("submit");
        let inputCount = 0,
            finalInput = "";

        //Update input
        const updateInputConfig = (element, disabledStatus) => {
            element.disabled = disabledStatus;
            if (!disabledStatus) {
                element.focus();
            } else {
                element.blur();
            }
        };

        input.forEach((element) => {
            element.addEventListener("keyup", (e) => {
                e.target.value = e.target.value.replace(/[^0-9]/g, "");
                let { value } = e.target;

                if (value.length == 1) {
                    updateInputConfig(e.target, true);
                    if (inputCount <= 5 && e.key != "Backspace") {
                        finalInput += value;
                        if (inputCount < 5) {
                            updateInputConfig(e.target.nextElementSibling, false);
                        }
                    }
                    inputCount += 1;
                } else if (value.length == 0 && e.key == "Backspace") {
                    finalInput = finalInput.substring(0, finalInput.length - 1);
                    if (inputCount == 0) {
                        updateInputConfig(e.target, false);
                        return false;
                    }
                    updateInputConfig(e.target, true);
                    e.target.previousElementSibling.value = "";
                    updateInputConfig(e.target.previousElementSibling, false);
                    inputCount -= 1;
                } else if (value.length > 1) {
                    e.target.value = value.split("")[0];
                }
                submitButton.classList.add("hide");
            });
        });

        window.addEventListener("keyup", (e) => {
            if (inputCount > 5) {
                submitButton.classList.remove("hide");
                submitButton.classList.add("show");
                if (e.key == "Backspace") {
                    finalInput = finalInput.substring(0, finalInput.length - 1);
                    updateInputConfig(inputField.lastElementChild, false);
                    inputField.lastElementChild.value = "";
                    inputCount -= 1;
                    submitButton.classList.add("hide");
                }
            }
        });

        //Start
        const startInput = () => {
            inputCount = 0;
            finalInput = "";
            input.forEach((element) => {
                element.value = "";
            });
            updateInputConfig(inputField.firstElementChild, false);
        };

        window.onload = startInput();

        // Enable the inputs before form submission
        document.getElementById('submit').addEventListener('click', function () {
            enableInputs();
        });

        // Enable the disabled inputs
        function enableInputs() {
            var inputs = document.getElementsByClassName('input');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = false;
            }
        }
    </script>
</body>
</html>
