@model ForgetPasswordRequest
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/evolved_tax_mark_logo.ico">
    <title>@ViewData["Title"] - Sceurity Information EvoTax Portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/lib/select2/dist/css/select2-bootstrap4.min.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/loader.css" />
        <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
        <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet">
        <link href="~/lib/select2/dist/css/select2-bootstrap4.min.css" rel="stylesheet">
    </environment>

    <style>
        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        /* Hide all steps by default: */
        .tab {
            display: none;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

            /* Mark the active step: */
            .step.active {
                opacity: 1;
            }

            /* Mark the steps that are finished and valid: */
            .step.finish {
                background-color: #04AA6D;
            }

        p {
            font-size: large;
            color: white;
        }

        .text-center {
            text-align: center;
            margin-bottom: 30px;
        }

            .text-center span {
                display: inline-block;
                border-radius: 5px;
                background-color: #1AB394;
                /*width: 20%;*/
            }

                .text-center span p {
                    text-align: center;
                    margin: 10px;
                }

        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 4px;
            margin: 20px;
        }
    </style>
</head>
<body class="white-bg">
    <partial name="_busyIndicator" />
    <div id="scurityQuestionDiv" class="mt-5">
        <div class="text-center"><span><p>Security Information</p></span></div>
        <form id="regForm"
              method="post"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-mode="replace"
              data-ajax-failure="COMMON.ajaxfailure"
              data-ajax-loading="#ajax-loader"
              data-ajax-success="ajaxsuccess"
              data-ajax-url="@Url.Action("SecurityInformation","Account")">
            <div class="form-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Address<span class="text-danger">*</span></label>
                            <input id="emailAddress" asp-for="EmailAddress" class="form-control" required />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Question 1:<span class="text-danger">*</span></label>
                            <select id="SecuredQ1" asp-for="PasswordSecuredQ1" asp-items="ViewBag.SecuredQ1" class="select2" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Answer 1: <span class="text-danger">*</span></label>
                            <input id="PasswordSecuredA1" asp-for="PasswordSecuredA1" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Question 2:<span class="text-danger">*</span></label>
                            <select id="SecuredQ2" asp-for="PasswordSecuredQ2" asp-items="ViewBag.SecuredQ2" class="select2" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Answer 2: <span class="text-danger">*</span></label>
                            <input id="PasswordSecuredA2" asp-for="PasswordSecuredA2" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Question 3:<span class="text-danger">*</span></label>
                            <select id="SecuredQ3" asp-for="PasswordSecuredQ3" asp-items="ViewBag.SecuredQ3" class="select2" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Security Answer 3: <span class="text-danger">*</span></label>
                            <input id="PasswordSecuredA3" asp-for="PasswordSecuredA3" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right mr-3"> <button id="submit" type="button" class="btn btn-primary">Proceed</button></div>
        </form>
    </div>
    <div id="responseDiv" class="mt-5 ml-5" hidden>
        <h3>Email has been sent on your email address with reset link.</h3>
    </div>
    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
        <script src="~/lib/jqueryMask/jquery.mask.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Only for demo purpose -->
        <script src="~/js/common.js"></script>
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
        <script src="~/lib/jqueryMask/jquery.mask.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("select").select2({
                theme: 'bootstrap4',
                placeholder: "Select One",
                //allowClear: true
            });
            $('.select2-container').css('width', '100%');

        });
        $('#submit').click(function () {
            let form = $('#regForm');
            if (form.valid()) {
                form.submit();
            }
            return false;
        });
        function ajaxsuccess(response) {
            if (response) {
                $('#scurityQuestionDiv').prop('hidden',true);
                $('#responseDiv').prop('hidden', false);
            }
        }
        $('#SecuredQ1').change(function () {
            var selectedValue = $(this).val(); // Get the selected value
            $('#SecuredQ2').find('option[value="' + selectedValue + '"]').remove();
            $('#SecuredQ3').find('option[value="' + selectedValue + '"]').remove();
        });
        $('#SecuredQ2').change(function () {
            var selectedValue = $(this).val(); // Get the selected value
            $('#SecuredQ3').find('option[value="' + selectedValue + '"]').remove();
        });
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        COMMON.notification('@TempData["Type"]', '@TempData["Message"]');
    </script>
</body>
</html>
