@model FormRequest

<div id="W8BenQuestionareDiv" class="tab" hidden>
    <h4>W-8BEN (Certificate of Foreign Status of Beneficial Owner for United States Tax Withholding and Reporting (Individual))</h4>
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="form-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input id="firstNameW8Ben" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input id="lastNameW8Ben" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name of individual who is the beneficial owner <span class="text-danger">*</span></label>
                            <input id="NameOfIndividual" asp-for="NameOfIndividual" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Country of Citizenship <span class="text-danger">*</span></label>
                            <select id="CitizenshipW8Ben" asp-for=CountryOfCitizenship asp-items="ViewBag.CountriesList" class="form-control select2" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    @*  <div class="col-md-6">
                    <div class="form-group">
                    <label>Social Security Number <span class="text-danger">*</span></label>
                    <input id="socialSecurityNumberW8Ben" type="text" data-mask="000-00-0000" placeholder="000-00-0000" class="form-control" required>
                    </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date of Birth <span class="text-danger">*</span></label>
                            <input id="dateOfBirthW8Ben" type="date" asp-for=DateOfBirthMmDdYyyy class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Reference Number</label>
                            <input type="text" asp-for=ReferenceNumberS title="Reference number refers to the name and account number of the disregarded entity to which a payment is made or credited. However, if the account receiving payment is not under the name of the disregarded entity this question is not applicable." class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Is a foreign Tax Identification Number(FTIN) legally required for you?</label>
                        <div class="form-group">
                            <div class="form-check abc-radio abc-radio-info form-check-inline">
                                <input class="form-check-input" type="radio" id="CheckIfFtinNotLegallyRequiredYN1" value="true" onclick="ShowHideFTIN(this)" asp-for="CheckIfFtinNotLegallyRequiredYN" checked="">
                                <label class="form-check-label" for="CheckIfFtinNotLegallyRequiredYN1"> Yes </label>
                            </div>
                            <div class="form-check abc-radio form-check-inline">
                                <input class="form-check-input" type="radio" id="CheckIfFtinNotLegallyRequiredYN2" value="false" onclick="ShowHideFTIN(this)" asp-for="CheckIfFtinNotLegallyRequiredYN">
                                <label class="form-check-label" for="CheckIfFtinNotLegallyRequiredYNSorry. Cheked2"> No </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="FTINDiv" class="form-group" hidden>
                            <label>Please enter your Foreign Tax Identification Number (FTIN)</label>
                            <input id="FTIN" type="text" asp-for=ForeignTaxIdentifyingNumber class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If applicable, please select the country the beneficial owner is a resident of within the meaning of the income tax treaty between the United States and that country.</label>
                            <select id="CitizenshipW8Ben" asp-for=Country asp-items="ViewBag.CountriesList" class="select2">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>If applicable, please provide the special rates and conditions the beneficial owner is claiming. Please provide the provisions of Article and paragraph of the treaty identified above and the percentage rate of withholding.</label>
                            <input type="text" asp-for=Rate class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Provision of Article and Paragragh</label>
                            <input type="text" asp-for=ArticleAndParagraph class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Percentage of Withholding</label>
                            <input type="text" asp-for=EligibleForTheRateOfWithholding class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Specify Type of Income</label>
                            <input type="text" asp-for=SpecifyTypeOfIncome class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Additional condition in Article and Paragragh</label>
                            <input type="text" asp-for=SpecifyTypeOfIncome class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box">
                <div class="col-md-12">
                    <label>Are you signing this form on behalf of another person? If so, are you certified to do so?</label>
                    <div class="form-group">
                        <div class="form-check abc-radio abc-radio-info form-check-inline">
                            <input class="form-check-input" type="radio" id="W8BENOnBehalfName1" value="True" checked="@Model?.W8BENOnBehalfName" onclick="W8BENOnBehalfNameFunc(this)" asp-for="W8BENOnBehalfName" required>
                            <label class="form-check-label" for="W8BENOnBehalfName1"> Yes </label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="W8BENOnBehalfName2" value="False" checked="@Model?.W8BENOnBehalfName" onclick="W8BENOnBehalfNameFunc(this)" asp-for="W8BENOnBehalfName" required>
                            <label class="form-check-label" for="W8BENOnBehalfName2"> No </label>
                        </div>
                    </div>
                </div>
                <div id="W8BENOnBehalfNameQuesDiv" hidden>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Please enter the name of the authorized signatory<span class="text-danger">*</span></label>
                            <input asp-for="PrintNameOfSigner" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
