/* _content/EvolvedTax_Institute/Areas/1042/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0liw87pz6n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0liw87pz6n] {
  color: #0077cc;
}

.btn-primary[b-0liw87pz6n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0liw87pz6n], .nav-pills .show > .nav-link[b-0liw87pz6n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0liw87pz6n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0liw87pz6n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0liw87pz6n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0liw87pz6n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0liw87pz6n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/1042/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8v13vzbd4n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8v13vzbd4n] {
  color: #0077cc;
}

.btn-primary[b-8v13vzbd4n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8v13vzbd4n], .nav-pills .show > .nav-link[b-8v13vzbd4n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8v13vzbd4n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8v13vzbd4n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8v13vzbd4n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8v13vzbd4n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8v13vzbd4n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/1098/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7s9bdigjsz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7s9bdigjsz] {
  color: #0077cc;
}

.btn-primary[b-7s9bdigjsz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7s9bdigjsz], .nav-pills .show > .nav-link[b-7s9bdigjsz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7s9bdigjsz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7s9bdigjsz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7s9bdigjsz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7s9bdigjsz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7s9bdigjsz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/1098/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-51sr90k02q] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-51sr90k02q] {
  color: #0077cc;
}

.btn-primary[b-51sr90k02q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-51sr90k02q], .nav-pills .show > .nav-link[b-51sr90k02q] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-51sr90k02q] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-51sr90k02q] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-51sr90k02q] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-51sr90k02q] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-51sr90k02q] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/1099/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-sceh5r4djd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-sceh5r4djd] {
  color: #0077cc;
}

.btn-primary[b-sceh5r4djd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-sceh5r4djd], .nav-pills .show > .nav-link[b-sceh5r4djd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-sceh5r4djd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-sceh5r4djd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-sceh5r4djd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-sceh5r4djd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-sceh5r4djd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/1099/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rwl7evrbk5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rwl7evrbk5] {
  color: #0077cc;
}

.btn-primary[b-rwl7evrbk5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rwl7evrbk5], .nav-pills .show > .nav-link[b-rwl7evrbk5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rwl7evrbk5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rwl7evrbk5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rwl7evrbk5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rwl7evrbk5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rwl7evrbk5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/3921/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-c69n72u8i1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-c69n72u8i1] {
  color: #0077cc;
}

.btn-primary[b-c69n72u8i1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-c69n72u8i1], .nav-pills .show > .nav-link[b-c69n72u8i1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-c69n72u8i1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-c69n72u8i1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-c69n72u8i1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-c69n72u8i1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-c69n72u8i1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/3921/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rf7iwzijwe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rf7iwzijwe] {
  color: #0077cc;
}

.btn-primary[b-rf7iwzijwe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rf7iwzijwe], .nav-pills .show > .nav-link[b-rf7iwzijwe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rf7iwzijwe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rf7iwzijwe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rf7iwzijwe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rf7iwzijwe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rf7iwzijwe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/3922/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-le7urxkdh8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-le7urxkdh8] {
  color: #0077cc;
}

.btn-primary[b-le7urxkdh8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-le7urxkdh8], .nav-pills .show > .nav-link[b-le7urxkdh8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-le7urxkdh8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-le7urxkdh8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-le7urxkdh8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-le7urxkdh8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-le7urxkdh8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/3922/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jvu7knk1m6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jvu7knk1m6] {
  color: #0077cc;
}

.btn-primary[b-jvu7knk1m6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jvu7knk1m6], .nav-pills .show > .nav-link[b-jvu7knk1m6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jvu7knk1m6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jvu7knk1m6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jvu7knk1m6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jvu7knk1m6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jvu7knk1m6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/5498/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zrzsabtt0y] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zrzsabtt0y] {
  color: #0077cc;
}

.btn-primary[b-zrzsabtt0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zrzsabtt0y], .nav-pills .show > .nav-link[b-zrzsabtt0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zrzsabtt0y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zrzsabtt0y] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zrzsabtt0y] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zrzsabtt0y] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zrzsabtt0y] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Areas/5498/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qa0q1dsp4f] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qa0q1dsp4f] {
  color: #0077cc;
}

.btn-primary[b-qa0q1dsp4f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qa0q1dsp4f], .nav-pills .show > .nav-link[b-qa0q1dsp4f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qa0q1dsp4f] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qa0q1dsp4f] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qa0q1dsp4f] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qa0q1dsp4f] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qa0q1dsp4f] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zjlabwv2qw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zjlabwv2qw] {
  color: #0077cc;
}

.btn-primary[b-zjlabwv2qw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zjlabwv2qw], .nav-pills .show > .nav-link[b-zjlabwv2qw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zjlabwv2qw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zjlabwv2qw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zjlabwv2qw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zjlabwv2qw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zjlabwv2qw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/EvolvedTax_Institute/Views/Shared/_LayoutInstitute.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5zq0cxfaq5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5zq0cxfaq5] {
  color: #0077cc;
}

.btn-primary[b-5zq0cxfaq5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5zq0cxfaq5], .nav-pills .show > .nav-link[b-5zq0cxfaq5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5zq0cxfaq5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5zq0cxfaq5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5zq0cxfaq5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5zq0cxfaq5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5zq0cxfaq5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
