@model FormRequest

<div class="tab">
    <div class="text-center"><span><p>Basic Information</p></span></div>
    <div class="form-box">
        <div class="col-md-12">
            <label>Are you a US citizen or green card holder who is treated as a resident for US tax purpose either because of you live in US, work there, or are married to a US individual and elected to be taxed as one?</label>
            <div class="form-group">
                <div class="form-check abc-radio abc-radio-info form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineRadio1" value="@AppConstants.W9Form" onclick="SelectForm(this)" asp-for="FormType" required>
                    <label class="form-check-label" for="inlineRadio1"> Yes </label>
                </div>
                <div class="form-check abc-radio form-check-inline">
                    <input class="form-check-input" type="radio" id="inlineRadio2" value="@AppConstants.W8Form" onclick="SelectForm(this)" asp-for="FormType" required>
                    <label class="form-check-label" for="inlineRadio2"> No </label>
                </div>
            </div>
        </div>
    </div>
    <div id="W8FormDiv" class="form-box" hidden>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-check inline">
                    <input class="form-check-input" type="radio" id="inlineRadio3" value="@AppConstants.W8BENForm" onclick="ShowHideW8(this)" asp-for="W8FormType">
                    <label class="form-check-label" for="inlineRadio3">
                        An Individual claiming foreign status or claiming treaty benefits for passive income?
                        (W-8BEN - Certificate of Foreign Status of Beneficial Owner for United States Tax Withholding and Reporting (Individual))
                    </label>
                </div>

                <div class="form-check inline">
                    <input class="form-check-input" type="radio" id="inlineRadio4" value="@AppConstants.W8ECIForm" onclick="ShowHideW8(this)" asp-for="W8FormType">
                    <label class="form-check-label" for="inlineRadio4">
                        A payee or beneficial owner indicating that all the income is effectively connected with the conduct of a trade or business within the United States?
                        (W-8ECI Certificate of Foreign Person's Claim That Income is Effectively Connected with the Conduct of a Trade or Business in the United States)
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab">
    <div class="text-center"><span><p>Personal Questions</p></span></div>
    <div class="form-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input id="firstName" asp-for="GQFirstName" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Last Name <span class="text-danger">*</span></label>
                    <input id="lastName" asp-for="GQLastName" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country of Citizenship<span class="text-danger">*</span></label>
                    <select id="Citizenship" asp-for="GQCountry" asp-items="ViewBag.CountriesList" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div id="SSNDiv" class="col-md-6">
                <div class="form-group">
                    <label id="lbl_TypeofTaxNumber">
                        <div class="form-check abc-radio abc-radio-info form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio5" value="S" onclick="ChangeMasking(this)" asp-for="TypeofTaxNumber" required>
                            <label class="form-check-label" for="inlineRadio5">SSN</label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineRadio6" value="I" onclick="ChangeMasking(this)" asp-for="TypeofTaxNumber" required>
                            <label class="form-check-label" for="inlineRadio6">ITIN</label>
                        </div>
                        <div class="form-check abc-radio form-check-inline" style="margin-right: 0px;">
                            <input class="form-check-input" type="radio" id="inlineRadio7" value="E" onclick="ChangeMasking(this)" asp-for="TypeofTaxNumber" required>
                            <label class="form-check-label" for="inlineRadio7">EIN</label>
                        </div>
                        <span class="text-danger">*</span>
                    </label>
                    @{
                        var sds = Model.Ssnitnein;
                    }
                    <input id="Ssnitnein" asp-for="Ssnitnein" type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab">
    <div class="text-center"><span><p>Mailing Address</p></span></div>
    <div class="form-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select id="country" asp-for="MCountry" asp-items="ViewBag.CountriesList" onChange="ShowHideProvince(this)" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1 <span class="text-danger">*</span> ( <strong>Do not use a P.O. box or in-care-of address</strong>)</label>
                    <input id="adreess1" asp-for="MAddress1" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input id="adreess2" asp-for="MAddress2" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>City <span class="text-danger">*</span></label>
                    <input id="city" asp-for="MCity" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div id="stateDiv" class="form-group" hidden>
                    <label>State </label>
                    <select id="state" asp-items="ViewBag.StatesList" asp-for="MState" class="select2">
                        <option></option>
                    </select>
                </div>
                <div id="provinceDiv" class="form-group">
                    <label>Province</label>
                    <input id="province" asp-for="MProvince" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label id="lblZipCode">Zip/Postal Code <span class="text-danger"> *</span></label>
                    <input id="zipCode" asp-for="MZipCode" type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
    <div id="businessCheckboxDiv" class="mt-3 mb-3 ml-4">
        <input id="SamePermAddress" type="checkbox" checked onChange="HideAddress(this)" name="SamePermAddress" class=""> <text id="businessCheckboxText"> Permanent address is the same as the mailing address</text>
    </div>
    <div id="businessAddressHeading" class="ml-4" hidden>
        <text>Business address in the United States</text>
    </div>
    <div id="SamePermAddressDiv" class="form-box" hidden>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country <span class="text-danger">*</span></label>
                    <select id="countryPerm" asp-for="PCountry" asp-items="ViewBag.CountriesList" onChange="ShowHideProvincePerm(this)" class="select2" required>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1 <span class="text-danger">*</span> ( <strong>Do not use a P.O. box or in-care-of address</strong>)</label>
                    <input id="adreess1Perm" asp-for="PAddress1" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input id="adreess2Perm" asp-for="PAddress2" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>City <span class="text-danger">*</span></label>
                    <input id="cityPerm" asp-for="PCity" type="text" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div id="statePermDiv" class="form-group" hidden>
                    <label>State </label>
                    <select id="statePerm" asp-items="ViewBag.StatesList" asp-for="PState" class="select2">
                        <option></option>
                    </select>
                </div>
                <div id="provincePermDiv" class="form-group">
                    <label>Province</label>
                    <input id="provincePerm" name="provincePerm" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label id="lblZipCodePerm">Zip/Postal Code <span class="text-danger"> *</span></label>
                    <input id="zipCodePerm" asp-for="PZipCode" type="text" class="form-control" required>
                </div>
            </div>
        </div>
    </div>


