<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            @*<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>*@
        </div>
        <ul class="nav navbar-top-links pull-left" style="margin-right:15px">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Welcome to EvoTax Portal</span>
            </li>
            <li class="pull-right">
                <a href="@Url.Action("LogoutUser", "Account")">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>