@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutInstitute.cshtml";
}

<!-- Other dashboard content -->

<div class="row">
    <div class="col-md-6">
        <h2>Announcements</h2>
        <vc:announcements></vc:announcements>
    </div>
@*    <div class="col-md-6">
        <h2>User List</h2>
        @{
            Html.RenderAction("UserList");
        }
    </div>*@
</div>


<!-- Other dashboard content -->
